// STYLE GUIDE:
$color-primary-dark: #B428FF;
$color-accent: #FFCA28;
body {
    background-color: #f3f3f3;
    font-family: 'Roboto', serif;
    font-weight: 300;
}
// FULL CALENDAR
.fc-content > .fc-time {
    display: none;
}
.color-value-V {
    color: red;
}
.color-value-P {
    color: blue;
}
.color-value-T {
    color: green;
}
.calendar-unit-AM {
    background-color: lightskyblue;
}
.calendar-unit-PM {
    background-color: lightpink;
}
// CALENDAR
.calendar-cell {
    padding: 5px;
}
.fc-toolbar .fc-left {
    display: none;
}
// WIDGET COMPONENTS
.widget {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 2px;
    border-color: #e9e9e9;
    padding: 20px;
    margin-bottom: 20px;
}
.widget.nav-selected {
    border-bottom-color: $color-accent;
    border-bottom-width: 2px;
}
.text-accent {
    color: $color-primary-dark;
}
.panel-group {
    .panel-default {
        .panel-heading {
            background-color: $color-primary-dark;
            .panel-title {
                color: white;
            }
        }
    }
}